<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="org.example.petspringdemo.mapper.EncyMapper">
    <resultMap id="EncyResultMap" type="EncyInfo">
        <result column="id" property="id"/>
        <result column="add_date" property="addTime"/>
        <result column="common_name" property="commonName"/>
        <result column="scientific_name" property="scientificName"/>
        <result column="family" property="family"/>
        <result column="description" property="description"/>
        <result column="habitat" property="habitat"/>
        <result column="diet" property="diet"/>
        <result column="life_span" property="lifespan"/>
        <result column="care_tips" property="careTips"/>
        <result column="image_url" property="imageUrl"/>
    </resultMap>
    <select id="getByName" resultType="org.example.petspringdemo.entity.EncyInfo" resultMap="EncyResultMap">
        select * from encyclopedia where common_name like concat('%', #{commonName}, '%')
    </select>


</mapper>